<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tv.waah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="org.apache.http.legacy" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:banner="@drawable/ic_banner"
        android:icon="@drawable/ic_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaahTV"
        android:usesCleartextTraffic="true">
        <activity android:name="com.tv.waah.Signup"></activity>
        <activity android:name="com.tv.waah.Login" />
        <activity android:name="com.tv.waah.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tv.waah.ui.LiveDetail" />
        <activity android:name="com.tv.waah.ui.PlaybackActivity" />
        <activity android:name="com.tv.waah.ui.SearchActivity" />
        <activity android:name="com.tv.waah.ui.SettingsActivity" />
        <activity android:name="com.tv.waah.ui.SeriesDetailsActivity" />
        <activity
            android:name="com.tv.waah.ui.MainActivity"
            android:banner="@drawable/ic_banner"
            android:icon="@drawable/ic_banner"
            android:label="@string/app_name"
            android:logo="@drawable/ic_banner"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>